# Terraform
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/
.terraform.lock.hcl
.terraform

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# Virtual Environment
.venv/
env/
venv/

# Docker
*.log

# System / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
